# Cloudinary Configuration
PUBLIC_CLOUDINARY_CLOUD_NAME=southland-organics

# Mux Video (shared with union-county-splost)
# Dashboard: https://dashboard.mux.com
MUX_TOKEN_ID=1392e039-db24-471f-b328-ea502654a663
MUX_TOKEN_SECRET=yHdiP1lKZuN4Cv1M65IMOfI5SADihIYGUvUOKuOsQc97/wrk1msQl+iS+jo2lKVsUciM6+7gwXx
